.container{
    background-color: rgb(245, 245, 245);
    color:rgb(31,31,31);
    padding-bottom: 30px;
}
.img-container{
    background-color: white;
    display:block;
}

.project-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.project-img-L{
    display: inline-block;
    margin-left: 25%;
    margin-right: auto;
}
.project-img-R{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.background {
    background-color: #313131;
}